<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td></td>
            <td>Todo list</td>
        </tr>
        <tr>
            <td>Work to do </td>
            <td><label>
                <input type="text" name="work" required>
            </label></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><label>
                <textarea type="text" name="content" required ></textarea>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type = submit>Save</button>
            </td>
        </tr>
    </table>

</form>

</body>
</html>